

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LSHFT>, <&kp CAPS>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        default_layer {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
label= "BASE"                              ;
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛

 bindings = <
// ╷           ╷         ╷         ╷         ╷         ╷         ╷   ╷         ╷         ╷          ╷         ╷          ╷              ╷

&kp TAB        &kp Q     &kp W     &kp E     &kp R     &kp T         &kp Y     &kp U     &kp I      &kp O     &kp P      &kp DELETE
&kp LCTRL      &kp A     &kp S     &kp D     &lt 1 F   &kp G         &kp H     &kp J     &kp K      &kp L     &kp SEMI   &kp MINUS
&td0           &kp Z     &kp X     &kp C     &kp V     &kp B         &kp N     &kp M     &kp COMMA  &kp DOT   &kp FSLH   &kp RSHFT
                                   &kp LALT  &kp BSPC  &kp SPACE     &lt 2 RET &kp RGUI  &kp RALT
            >;
        };

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        symbols_layer {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
label= "SYM"                               ;
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛

 bindings = <
// ╷         ╷         ╷         ╷         ╷         ╷         ╷   ╷              ╷              ╷                  ╷               ╷              ╷           ╷

&trans       &trans    &trans    &trans    &trans    &trans          &kp AT_SIGN    &kp LBKT       &kp DOUBLE_QUOTES  &kp RBKT        &kp AMPS       &kp DOLLAR
&trans       &trans    &trans    &trans    &trans    &trans          &kp HASH       &kp LPAR       &kp SQT            &kp RPAR        &kp CARET      &kp GRAVE
&trans       &trans    &trans    &trans    &trans    &trans          &kp EXCL       &kp LBRC       &kp STAR           &kp RBRC        &kp BSLH       &kp PRCNT
                                &trans    &trans    &trans          &trans         &trans         &trans
            >;
        };

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        numbers_layer {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
label= "NUM"                               ;
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛

 bindings = <
// ╷         ╷         ╷         ╷         ╷         ╷         ╷   ╷         ╷              ╷              ╷               ╷         ╷              ╷

&trans       &trans    &kp N1    &kp N2    &kp N3    &trans          &trans    &trans         &kp UP         &trans          &trans    &bt BT_CLR_ALL
&trans       &trans    &kp N4    &kp N5    &kp N6    &kp N0          &kp HOME  &kp LEFT       &kp DOWN       &kp RIGHT       &kp END   &trans
&trans       &trans    &kp N7    &kp N8    &kp N9    &trans          &trans    &trans         &trans         &trans          &trans    &trans
                                &trans    &trans    &trans          &trans    &bt BT_SEL 0   &bt BT_SEL 1
            >;
        };
    };
};
